DapperCrud/_conectionString.cs

Refatorando para testes de unidade/Store.Domain/bin/

Refatorando para testes de unidade/Store.Domain/obj

Refatorando para testes de unidade/Store.Tests/bin/

Refatorando para testes de unidade/Store.Tests/obj

Dominando Injecao de Dependencia/Parte1/obj

Dominando Injecao de Dependencia/Parte1/bin

Segurança em APIs ASP.NET com JWT e Bearer Authentication/JwtStore/JwtStore.API/obj

Segurança em APIs ASP.NET com JWT e Bearer Authentication/JwtStore/JwtStore.API/bin