DapperCrud/_conectionString.cs

Refatorando para testes de unidade/Store.Domain/bin/

Refatorando para testes de unidade/Store.Domain/obj

Refatorando para testes de unidade/Store.Tests/bin/

Refatorando para testes de unidade/Store.Tests/obj